---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="px-5 md:px-0 md:w-6/12 mx-auto">
      <section class="mt-24">
        {
          posts.map((post) => (
            <div class="my-5 flex h-auto w-full flex-col border border-x-0 border-t-0 border-b-gray-200">
              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              <a href={post.url} class="mb-10 text-2xl font-bold">
                {post.frontmatter.title}
              </a>
            </div>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
